<h1><%= @user.name %>'s Top Rated Movies</h1>
  <ul>
  <% @user.movies.each do |movie| %>
    <div>
      <li>Original Name: <%= movie.original_name %></li>
      <li>Vote Average: <%= movie.vote_average %></li>
    </div>
    <% end %>
  </ul>